/* reset */

ul, ul li{margin: 0;padding: 0;}
ul li{list-style:none;}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.clear{clear:both;}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #3f3e42;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #3f3e42;
    opacity:  1;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #3f3e42;
    opacity:  1;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #3f3e42;
    font-style: italic;
}

/* Menu styles */
section#featuredStory{
	background:url(../images/stripe_desk.png) repeat;

}

.fsContainer{
	padding-top:20px;
	padding-bottom:40px;
	background:url(../images/stripe1.png) repeat;
}

.feed{
	position:relative;
}

img.feedThumb{
	top:0px;
	left:0px;
	width:100%;
}

.fold{
	background:url(../images/feedContentBck.png) right;
	padding-top:5px;
	height:37px;
	padding:10px;
}

.fold > span{
	display:block;
	background:url(../images/icons/story.png) no-repeat;
	margin-top:10px;
}

.fContent{
	background-color:#fff;
	padding:10px;
}

.feedDetail{
	position:absolute;
	bottom:-20px;
	margin:0px 10px;
	width:auto;
	left:0px;
	right:0px;
	border-bottom:4px solid #17577f;

}

.feedDetail h1{
	font-size:22px;
	margin-top:0px;
}

.feedDetail p{
	display:none;
}

.feedDetail p span.divider{
	width:35px;
	height:1px;
	display:block;
	background-color:#ff0000;
	margin-top:5px;
	background:url(../images/headerDivider.png) no-repeat;
	margin-bottom:5px;
}

.feedDetail p span.date{
	display:block;
	font-style:italic;
	color:#aaa;
	font-size:14px;
	margin-bottom:5px;
}
.caption {
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption:hover::before {
    background: rgba(0, 0, 0, .5);
}

.caption_overlay {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: -webkit-transform .35s ease-out;
    transition:  transform .35s ease-out;
}

.caption:hover .caption_overlay {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.caption_overlay_title {
    -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
     transform: translateY( calc(-100% - 10px) );
    transition: -webkit-transform .35s ease-out;
    transition:  transform .35s ease-out;
}

.caption:hover .caption_overlay_title {
			-webkit-transform: translateY(0);
            transform: translateY(0);
}
.menu-row{
	margin-bottom: 1%;
}
.menu-name{
	font-size: 1.2em;
	color: #4B088A;
}
.floatR{
	float: right;
}
.floatL{
	float: left;
}
.price{
	font-style: italic;
}
	

/* update cart */
.side-bar .side-bar-contents {
    padding: 10px 15px;
    margin-bottom: 5px;
    background: #f0f0f0;
}
.cart-summary .summary {
    min-height: 120px;
}
.cart-summary .summary-inner {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e4e4e4;
    padding-bottom: 10px;
}
@media only screen and (min-width: 320px){
.cart-summary .order-items, .cart-summary .totals {
    padding: 5px 15px;
}
.cart-summary .order-items>li {
    padding: 2px 0 3px;
    margin-bottom: 6px;
    border-bottom: 1px solid #e9e9e9;
}
.cart-summary .order-items .count {
    margin-top: 5px;
    width: 60%;
    min-height: 20px;
}
.mr5 {
    margin-right: 5px;
}
.cart-summary .order-items .count .super_number .dec, .cart-summary .order-items .count .super_number .inc {
    padding: 0;
    float: left;
    color: #4fc31c;
    cursor: pointer;
    font-size: 20px;
    line-height: 28px;
    height: 28px;
}
.cart-summary .order-items .count .super_number input[type=text] {
    color: #2d2d2d!important;
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    position: relative;
    top: -1px;
    margin: 0 5px;
}
.cart-summary .order-items .count .super_number input {
    width: 20px;
    line-height: 28px;
    padding: 0;
    float: left;
    text-align: center;
    height: 26px;
    border: none;
}
[data-icon]:before {
    display: block;
    float: left;
    font-family: zombatsregular!important;
    font-weight: 400;
    margin-right: 5px;
    text-transform: none;
    content: attr(data-icon);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    zoom: 1;
}
.pl10 {
    padding-left: 10px;
}
.cart-summary .price {
    text-align: right;
    float: right;
    margin-left: .25em;
}
.clear {
    clear: both;
}
.cart-summary .stickybot:hover {
    opacity: 1;
}
.cart-summary .stickybot {
    position: fixed;
    bottom: 6px;
    width: 314px;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    border-radius: 3px;
}